 ProposalNotifier.json
{"createdAt":"2023-06-29T10:02:22.959Z","updatedAt":"2023-08-01T16:41:02.876Z","id":"3","name":"ProposalNotifier","active":true,"nodes":[{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"protocol","field2":"dao"}]},"options":{}},"id":"502f265a-cd66-4ecd-882d-edf3706d3003","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2520,460]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"418ca59f-ba91-4db8-9760-858f47a7a773","name":"10min Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[640,640]},{"parameters":{"url":"https://api.boardroom.info/v1/proposals?orderByIndexedAt=desc&limit=200","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"id":"753c035d-1a69-429b-814c-44aea976e703","name":"Get Boardroom Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1120,440],"credentials":{"httpQueryAuth":{"id":"2","name":"Boardroom"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"bb75341f-cb8c-41ab-aa13-411dbd4fdbe2","name":"Parse API data","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1280,440]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.startTimestamp }}","operation":"largerEqual","value2":"={{ $('Last time to timestamp').item.json.ExecTimestamp }}"}],"string":[{"value1":"={{ $json.currentState }}","value2":"active"}]}},"id":"56fb4235-aca2-485d-8653-339c16148346","name":"Filter old proposals","type":"n8n-nodes-base.filter","typeVersion":1,"position":[1460,440]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.protocol }}","value2":"makerdao"},{"value1":"={{ $json.protocol }}","value2":"optimism"},{"value1":"={{ $json.protocol }}","value2":"bitdao"},{"value1":"={{ $json.protocol }}","value2":"decentraland"},{"value1":"={{ $json.protocol }}","value2":"sushi"},{"value1":"={{ $json.protocol }}","value2":"uniswap"},{"value1":"={{ $json.protocol }}","value2":"badgerdao"},{"value1":"={{ $json.protocol }}","value2":"stargatefi"},{"value1":"={{ $json.protocol }}","value2":"ens"},{"value1":"={{ $json.protocol }}","value2":"safedao"},{"value1":"={{ $json.protocol }}","value2":"olympusdao"},{"value1":"={{ $json.protocol }}","value2":"curvefi"},{"value1":"={{ $json.protocol }}","value2":"stakedaoeth"},{"value1":"={{ $json.protocol }}","value2":"aave"},{"value1":"{{ $json.protocol }}","value2":"arbitrum"}]},"combineConditions":"OR"},"id":"331b3a28-1efe-46b5-bf27-aeb89143d4a9","name":"Filter DAOs","type":"n8n-nodes-base.filter","typeVersion":1,"position":[1620,440]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"title","value":"={{ $('Filter DAOs').item.json.title }}"},{"name":"protocol","value":"={{ $('Filter DAOs').item.json.protocol }}"},{"name":"adapter","value":"={{ $('Filter DAOs').item.json.adapter }}"},{"name":"url","value":"={{ $('Filter DAOs').item.json.externalUrl }}"},{"name":"summary","value":"={{ $('AIsummarySecondaryOption').item.json.result }}"},{"name":"boardroomUrl","value":"=https://boardroom.io/{{ $('Filter DAOs').item.json.protocol }}/proposal/{{ $('Filter DAOs').item.json.refId }}"}],"number":[{"name":"endTimeReadable","value":"={{ DateTime.fromSeconds($('Filter DAOs').item.json[\"endTimestamp\"].toInt()).toFormat('HH:mm dd/MM/yyyy')}}\n"},{"name":"endTimestamp","value":"={{ $('Filter DAOs').item.json.endTimestamp }}"}]},"options":{}},"id":"f828c499-cbdd-4691-b35a-9ca0eda9dec4","name":"Clean data","type":"n8n-nodes-base.set","typeVersion":2,"position":[2320,440]},{"parameters":{"chatId":"={{ $json.channel }}","text":"=<b>Title</b>\n{{ $json[\"title\"] }}\n\n<b>Vote ends</b>\n{{$json.endTimeReadable}} (GMT)\n<a href=\"https://www.google.com/calendar/render?action=TEMPLATE&text={{ $json.name }}%20Vote:%20{{encodeURIComponent($json.title) }}%20&dates={{ DateTime.fromSeconds($json.endTimestamp).minus(2,'hours').format('yyyyMMdd')}}T{{ DateTime.fromSeconds($json.endTimestamp).minus(2,'hours').format('HHmmss')}}Z%2F{{ DateTime.fromSeconds($json.endTimestamp).minus(105,'minutes').format('yyyyMMdd')}}T{{ DateTime.fromSeconds($json.endTimestamp).minus(105,'minutes').format('HHmmss')}}Z&details={{encodeURIComponent($json.summary)}}&location={{encodeURIComponent($json.url) }}\">Add to Google</a> \n\n<b>Vote</b>\n<a href=\"{{ $json.boardroomUrl }}\">Vote on Boardroom</a>\n<a href=\"{{ $json[\"url\"] }}\"> or Vote on {{ $json.adapter }} interface</a>\n\n<b>AI summary</b>\n{{ $json[\"summary\"] }} \n\n<i>Summary is made with AI tools, details may be missing, for complete understanding please read full proposal</i>","additionalFields":{"disable_web_page_preview":true,"parse_mode":"HTML"}},"id":"020b4689-b888-4e87-ac1b-6419a4108e89","name":"Send messages to Channels","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2680,460],"credentials":{"telegramApi":{"id":"3","name":"Telegram account"}}},{"parameters":{"content":"## How to\nHead to Github repository : https://github.com/JeanGuillemont/KeyMarker-ProposalNotifier for further informations about deployment","height":137.87654320987656,"width":238.15637860082347},"id":"4fd2889e-4771-4fde-af80-13a76b6e51c2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[440,380]},{"parameters":{"jsCode":"const data =  [\n\n    {\n      dao: \"decentraland\",\n      channel : -1001987443998,\n      name:\"Decentraland\",\n    },\n    {\n      dao : \"optimism\",\n      channel : -1001945510040,\n      name:\"Optimism\",\n    },\n    {\n      dao : \"aave\",\n      channel : -1001905204051,\n      name:\"Aave\",\n    },\n    {\n      dao : \"badgerdao\",\n      channel : -1001866106999,\n      name:\"Badger\",\n    },\n    {\n      dao : \"bitdao\",\n      channel : -1001872460105,\n      name:\"BitDAO\",\n    },\n    {\n      dao : \"curvefi\",\n      channel : -1001822065973,\n      name:\"Curve\",\n    },\n    {\n      dao : \"ens\",\n      channel : -1001982992388,\n      name:\"ENS\",\n    },\n    {\n      dao : \"makerdao\",\n      channel : -1001955720497,\n      name:\"MakerDAO\",\n    },\n    {\n      dao : \"olympusdao\",\n      channel : -1001982591292,\n      name:\"Olympus DAO\",\n    },\n    {\n      dao : \"safedao\",\n      channel : -1001685958962,\n      name:\"safe DAO\",\n    },\n    {\n      dao : \"stakedaoeth\",\n      channel : -1001742812871,\n      name:\"Stake DAO\",\n    },\n    {\n      dao : \"stargatefi\",\n      channel : -1001830133829,\n      name:\"Stargate\",\n    },\n    {\n      dao : \"sushi\",\n      channel : -1001800181560,\n      name:\"Sushiswap\",\n    },\n    {\n      dao : \"arbitrum\",\n      channel : -1001939136563,\n      name:\"Arbitrum\",\n    },\n    {\n      dao : \"uniswap\",\n      channel : -1001981919221,\n      name:\"Uniswap\",\n    }\n];\nreturn data.map(e => {\n  return {\n    json: e\n  }\n});"},"id":"4ea44d13-e07a-47c6-b6ec-ff5ceaacf8b8","name":"Create Channels Database","type":"n8n-nodes-base.code","typeVersion":1,"position":[1840,640]},{"parameters":{"operation":"formatDate","date":"={{ $json.startedAt }}","format":"X","outputFieldName":"ExecTimestamp","options":{}},"id":"23f840a9-ef47-4215-b421-3eb0c5d0b8c1","name":"Last time to timestamp","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[960,440]},{"parameters":{"resource":"execution","limit":1,"filters":{"workflowId":{"__rl":true,"value":"3","mode":"list","cachedResultName":"ProposalNotifier (#3)"},"status":"success"},"options":{"activeWorkflows":false}},"id":"02b3dbfc-ef6b-4a25-a139-c63aad5f0780","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[820,440],"credentials":{"n8nApi":{"id":"4","name":"n8n account"}}},{"parameters":{"method":"POST","url":"https://app.airops.com/public_api/airops_apps/b23c38c3-5c5e-4600-91ce-4fb4981af2df/execute","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"inputs\":{\"content\":\"{{ $json[\"subcontent\"].replace(/\\n/g, \"\").urlEncode()}}\"}}","options":{}},"id":"648f28e4-0399-4bf4-bd0b-4d08c249590f","name":"AI summary1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2140,420],"credentials":{"httpHeaderAuth":{"id":"9","name":"Airops account"}}},{"parameters":{"values":{"string":[{"name":"subcontent","value":"={{ $json.content.substring(49,7000).removeMarkdown() }}"}]},"options":{}},"id":"bbd9eda6-abe0-435c-ab2d-cf60907ef9f0","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[1980,440]},{"parameters":{"method":"POST","url":"https://portal.ayfie.com/api/summarize","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"language","value":"auto"},{"name":"text","value":"={{ $json.subcontent }}"},{"name":"min_length","value":"100"},{"name":"max_length","value":"400"}]},"options":{}},"id":"fa267222-2a76-4fec-979e-b763e731944a","name":"AIsummarySecondaryOption","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2140,40],"credentials":{"httpHeaderAuth":{"id":"16","name":"ayfie"}}},{"parameters":{"values":{"string":[{"name":"subcontent","value":"={{ $json.content.substring(49,7000).removeMarkdown() }}"}]},"options":{}},"id":"fdc73b1a-6e91-4bc4-a333-8675bb9acd2a","name":"SetScondaryOption","type":"n8n-nodes-base.set","typeVersion":2,"position":[2000,40]}],"connections":{"Merge":{"main":[[{"node":"Send messages to Channels","type":"main","index":0}]]},"10min Trigger":{"main":[[{"node":"Create Channels Database","type":"main","index":0},{"node":"n8n","type":"main","index":0}]]},"Get Boardroom Data":{"main":[[{"node":"Parse API data","type":"main","index":0}]]},"Parse API data":{"main":[[{"node":"Filter old proposals","type":"main","index":0}]]},"Filter old proposals":{"main":[[{"node":"Filter DAOs","type":"main","index":0}]]},"Filter DAOs":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Clean data":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Create Channels Database":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Last time to timestamp":{"main":[[{"node":"Get Boardroom Data","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Last time to timestamp","type":"main","index":0}]]},"Set1":{"main":[[{"node":"AI summary1","type":"main","index":0}]]},"AI summary1":{"main":[[{"node":"Clean data","type":"main","index":0}]]},"SetScondaryOption":{"main":[[{"node":"AIsummarySecondaryOption","type":"main","index":0}]]}},"settings":{"timezone":"Etc/GMT","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"17"},"staticData":{"node:10min Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"108c18df-d061-4c3b-86b8-782cc3db1aec","triggerCount":1,"tags":[{"createdAt":"2023-06-29T09:42:18.688Z","updatedAt":"2023-06-29T09:42:18.688Z","id":"1","name":"KeyMaker"}]}