 ProposalNotifier.json
{"createdAt":"2023-06-15T08:04:42.190Z","updatedAt":"2023-06-22T16:31:38.000Z","id":"2","name":"ProposalNotifier","active":true,"nodes":[{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"protocol","field2":"dao"}]},"options":{}},"id":"a136e1d3-e90d-4bb1-9d13-4fe5fd1ff901","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1880,180]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"bcfed5a7-279b-47c1-b913-385de5eeae8d","name":"10min Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[500,360]},{"parameters":{"operation":"subtractFromDate","magnitude":"={{ $json.timestamp }}","timeUnit":"minutes","duration":10,"outputFieldName":"LastTime"},"id":"4ca45127-30af-42dd-baee-babee88c0ac2","name":"Last execution date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[600,160]},{"parameters":{"operation":"formatDate","date":"={{ $json.LastTime }}","format":"X","outputFieldName":"ExecTimestamp","options":{}},"id":"b86a82de-fa83-421d-af44-430b4112f800","name":"Last time to timestamp","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[780,160]},{"parameters":{"url":"https://api.boardroom.info/v1/proposals?indexedAt=desc&limit=100","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"id":"99bf4fec-6380-42d1-b263-5cdd2e757f66","name":"Get Boardroom Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[980,160],"credentials":{"httpQueryAuth":{"id":"11","name":"Query Auth account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"f33094a5-9190-4272-a0bb-bf9f1abc808c","name":"Parse API data","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1140,160]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.startTime.timestamp }}","operation":"largerEqual","value2":"={{ $('Last time to timestamp').item.json.ExecTimestamp }}"}],"string":[{"value1":"={{ $json.currentState }}","value2":"active"}]}},"id":"aa83f974-6ea8-4f3c-8c8b-d6aedcd76359","name":"Filter old proposals","type":"n8n-nodes-base.filter","typeVersion":1,"position":[1280,160]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.protocol }}","value2":"makerdao"},{"value1":"={{ $json.protocol }}","value2":"optimism"},{"value1":"={{ $json.protocol }}","value2":"bitdao"},{"value1":"={{ $json.protocol }}","value2":"decentraland"},{"value1":"={{ $json.protocol }}","value2":"sushiswap"},{"value1":"={{ $json.protocol }}","value2":"uniswap"},{"value1":"={{ $json.protocol }}","value2":"badgerdao.eth"},{"value1":"={{ $json.protocol }}","value2":"stargatefi"},{"value1":"={{ $json.protocol }}","value2":"ens"},{"value1":"={{ $json.protocol }}","value2":"safedao"},{"value1":"={{ $json.protocol }}","value2":"olympusdao"},{"value1":"={{ $json.protocol }}","value2":"curvefi"},{"value1":"={{ $json.protocol }}","value2":"stakedaoeth"}]},"combineConditions":"OR"},"id":"4e980759-8052-4d06-9d22-8e5a7e4ceb75","name":"Filter DAOs","type":"n8n-nodes-base.filter","typeVersion":1,"position":[1420,160]},{"parameters":{"method":"POST","url":"https://api.textcortex.com/v1/texts/summarizations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"max_tokens","value":512},{"name":"mode","value":"default"},{"name":"model","value":"sophos-1"},{"name":"n","value":1},{"name":"source_lang","value":"en"},{"name":"target_lang","value":"en"},{"name":"temperature","value":0.7},{"name":"text","value":"={{ $json.content}}"}]},"options":{"redirect":{"redirect":{}},"proxy":""}},"id":"15a62340-ea40-4f81-a48d-46521e3e5611","name":"AI summary","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1560,160],"credentials":{"httpHeaderAuth":{"id":"10","name":"Header Auth account 3"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"title","value":"={{ $('Filter DAOs').item.json.title }}"},{"name":"protocol","value":"={{ $('Filter DAOs').item.json.protocol }}"},{"name":"adapter","value":"snapshot"},{"name":"url","value":"={{ $('Filter DAOs').item.json.externalUrl }}"},{"name":"summary","value":"={{ $json.data.outputs[0].text }}"},{"name":"boardroomUrl","value":"=https://boardroom.io/{{ $('Filter DAOs').item.json.protocol }}/proposal/{{ $('Filter DAOs').item.json.refId }}"}],"number":[{"name":"endTimeReadable","value":"={{ Date($('Filter DAOs').item.json.endTime.timestamp)}}"},{"name":"endTimestamp","value":"={{ $('Filter DAOs').item.json.endTime.timestamp }}"}]},"options":{}},"id":"70892958-965c-4eca-be36-3007410f7b3b","name":"Clean data","type":"n8n-nodes-base.set","typeVersion":2,"position":[1700,160]},{"parameters":{"chatId":"={{ $json.channel }}","text":"=<b>Title</b>\n{{ $json[\"title\"] }}\n\n<b>Vote ends</b>\n{{new Date($json.endTimeReadable).toISOString()}}\n<a href=\"https://www.google.com/calendar/render?action=TEMPLATE&text=Vote%20for%20{{ $json.protocol }}%20proposal&details=&location={{ $json.url }}&dates={{ new Date($json.endTimeReadable).minus(2,'hours').toISOString() }}%2F{{ new Date($json.endTimeReadable).minus(105,'minutes').toISOString() }}&ctz=Europe%2FBerlin\">Add to Google</a> \n\n<b>Vote</b>\n<a href=\"{{ $json.boardroomUrl }}\">Vote on Boardroom</a>\n<a href=\"{{ $json[\"url\"] }}\">Vote on governance tool</a>\n\n<b>AI summary</b>\n{{ $json[\"summary\"] }} \n\n<i> Summary is made with AI tools, details may be missing, for complete understanding please read full proposal</i>","additionalFields":{"disable_web_page_preview":true,"parse_mode":"HTML"}},"id":"159b7df1-916e-4010-a704-ccda7f8cd78d","name":"Send messages to Channels","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2040,180],"credentials":{"telegramApi":{"id":"2","name":"Telegram account"}}},{"parameters":{"content":"## How to\nHead to Github repository : https://github.com/JeanGuillemont/KeyMarker-ProposalNotifier for further informations about deployment","height":137.87654320987656,"width":238.15637860082347},"id":"b4f9f74a-ed64-4e7d-b9d2-6318703b1cba","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[300,100]},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      dao: \"decentraland\",\n      channel : -1001987443998,\n    }\n  },\n];"},"id":"14f7dcd4-49b9-43c5-8d21-b750f81b945f","name":"Create Channels Database","type":"n8n-nodes-base.code","typeVersion":1,"position":[1700,360]}],"connections":{"Merge":{"main":[[{"node":"Send messages to Channels","type":"main","index":0}]]},"10min Trigger":{"main":[[{"node":"Last execution date","type":"main","index":0},{"node":"Create Channels Database","type":"main","index":0}]]},"Last execution date":{"main":[[{"node":"Last time to timestamp","type":"main","index":0}]]},"Last time to timestamp":{"main":[[{"node":"Get Boardroom Data","type":"main","index":0}]]},"Get Boardroom Data":{"main":[[{"node":"Parse API data","type":"main","index":0}]]},"Parse API data":{"main":[[{"node":"Filter old proposals","type":"main","index":0}]]},"Filter old proposals":{"main":[[{"node":"Filter DAOs","type":"main","index":0}]]},"Filter DAOs":{"main":[[{"node":"AI summary","type":"main","index":0}]]},"AI summary":{"main":[[{"node":"Clean data","type":"main","index":0}]]},"Clean data":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Create Channels Database":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{},"staticData":{"node:10min Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"f0308d7d-e43c-4aa3-aac2-53ff9c0b65a9","triggerCount":1,"tags":[{"createdAt":"2023-06-15T08:04:49.692Z","updatedAt":"2023-06-15T08:04:49.692Z","id":"1","name":"KeyMaker"}],"jsonname":"ProposalNotifier.json"}